<section class="jumbotron text-center">
    <h1 class="jumbotron-heading">COVID-19</h1>
    <p class="lead text-muted">Live Updates and Statistics</p>
  <app-news-display></app-news-display>
</section>

<div class="offset-lg-3 col-lg-6">
  <div class="card bg-light">
    <div class="card-body">
      <h2><b>Coronna Virus Summary Worldwide</b></h2>
    </div>
  </div>
  <br/>


  <div class="table table-dark table-bordered text-center" >
    <div class="row">
      <div class="col" >
        <label>Metric</label>
      </div>
      <div class="col">
        <label>Value</label>
      </div>
    </div>
    <div class="container" *ngFor="let item1 of summaryObjectMap | keyvalue">
      <div class="row" [ngClass]="{
    'bg-primary':item1.key < 3,
    'bg-success':item1.key > 2 &&  item1.key < 6,
    'bg-danger':item1.key >  5}"
     *ngFor="let item2 of item1.value | keyvalue">
        <div class="col" >
          <label for="{{item2.key}}">{{item2.key}}</label>
        </div>
        <div class="col">
          <label id="{{item2.key}}">{{item2.value}}</label>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <div class="card bg-light">
    <div class="card-body">
      <h2><b>Coronna Virus Cases Distribution Worldwide</b></h2>
  </div>
  </div>
    <br/>

    <div class="chart">
  <canvas id = 'pieChart' baseChart
         [data]="pieChartData"
         [labels]="pieChartLabels"
         [chartType]="pieChartType"
         [colors]="pieChartColors"
         [legend]="pieChartLegend"></canvas>
</div>

  <br/>
  <div class="card bg-light">
    <div class="card-body">
      <h2><b>Daily Coronna Virus Cases Worldwide</b></h2>
</div>
  </div>
  <br/>

  <div class="chart">
<canvas id = 'barChart'  baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
       [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"></canvas>
</div>


  <br/>
  <div class="card bg-light">
    <div class="card-body">
      <h2><b>Total Coronna Virus Cases WorldWide</b></h2>
    </div>
  </div>
  <br/>

  <div class="chart">
  <canvas id = 'lineChart'  baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"></canvas>
  </div>

  <br/>
  <div class="card bg-light">
    <div class="card-body">
      <h2><b>Coronna Virus Cases By Country</b></h2>
    </div>
  </div>
   <br/>

  <table id="#datatable" class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
    <tr>
      <th>
            <a (click)="this.orderColumnByAscending('Country')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
            <a (click)="this.orderColumnByDescending('Country')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
            <label>Country</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('New Cases')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('New Cases')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>New Cases</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('Total Cases')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('Total Cases')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>Total Cases</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('New Recovered')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('New Recovered')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>New Recovered</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('Total Recovered')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('Total Recovered')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>Total Recovered</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('New Deaths')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('New Deaths')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>New Deaths</label>
      </th>
      <th>
        <a (click)="this.orderColumnByAscending('Total Deaths')"><fa-icon [icon]="faArrowUp" ></fa-icon></a>
        <a (click)="this.orderColumnByDescending('Total Deaths')"><fa-icon [icon]="faArrowDown"></fa-icon></a>
        <label>Total Deaths</label>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of summaryObject.countries">
      <td>
        <label><a routerLink="/country/{{item.Country}}">{{item.Country}}</a></label>
      </td>
      <td>
        <label>{{item.NewCases}}</label>
      </td>
      <td>
        <label>{{item.TotalCases}}</label>
      </td>
      <td>
        <label>{{item.NewRecovered}}</label>
      </td>
      <td>
        <label>{{item.TotalRecovered}}</label>
      </td>
      <td>
        <label>{{item.NewDeaths}}</label>
      </td>
      <td>
        <label>{{item.TotalDeaths}}</label>
      </td>
    </tr>

    </tbody>
  </table>
</div>
